@import '../../assets/theam.scss';
.header {
  width: 100%;
  height: 8vh;
  margin-bottom: 12px;
  .content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    .btn {
      width: 100px;
      height: 40px;
      margin-top: 15px;
      border: none;
      background-color: rgb(106, 240, 88);
      color: #fff;
      border-radius: 10px;
      cursor: pointer;
      float: right;
      &:focus {
        outline: none;
      }
    }
  }
}
