.middle {
  width: 80%;
  height: 80vh;
  margin: 0 auto 12px;
  display: flex;
  .middle-left {
    flex: 2.5;
    height: 100%;
    margin-right: 12px;
    background-color: #fff;
    .left-content {
      width: 50%;
      height: 50%;
      margin: 0 auto;
      background-color: rgb(214, 148, 245);
    }
  }
  .middle-right {
    flex: 7.5;
    height: 100%;
    background-color: #fff;
  }
}
