* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; //内容加边框模型
  font-family: inherit;
  font-size: 16px; //基本字体大小,浏览器默认16
  font-weight: inherit;
  font-style: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.single-line-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
