$light-color:#f5f5f5 !default;
$dark-color:#565656 !default;

@mixin bg-color($light-color, $dark-color) {
  [ds-theme="dark"] & {
    background-color: $dark-color;

    .child {
      background-color: #ccc !important;
    }
  }

  [ds-theme="light"] & {
    background-color: $light-color;

    .child {
      background-color: #fff !important;
    }
  }
}
