@import './assets/base-style.scss';
@import './assets/theam.scss';


:root {
  // 基础配色
  // --body-color:#f5f5f5 --child-color: #fff;
  // 调整配色 
  // --body-color:#565656 --child-color: #ccc;
  --body-color: #f5f5f5;
  --child-color: #fff;
}

// 方式1
// 由于存在!important,在使用方式2时需将方式注释
// .fun1 {
//   @include bg-color($light-color, $dark-color);
// }

.fun2 {
  background-color: var(--body-color);
}
